html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpYc1TYQVl65FOy9fONF-ROa8-dGuFXQeVPg&s);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 500px;
    color:white;
}

h1 {
    color: red;
    margin-bottom: 20px;
}

form {
    background: #1618a3;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in width */
}


.form-group {
    margin-bottom: 15px;
    width: 100%; /* Ensures the form group takes full width of its container */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left; /* Aligns the label text to the left */
}

input, textarea {
    width: 100%; /* Ensures input and textarea fields take full width of their container */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding is included in width */
}


textarea {
    resize: vertical;
    height: 100px; /* Adjust height as needed */
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.error {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
